[submodule "xslt-util"]
	path = xslt-util
	url = https://github.com/transpect/xslt-util
[submodule "xproc-util"]
	path = xproc-util
	url = https://github.com/transpect/xproc-util
[submodule "docx2hub"]
	path = docx2hub
	url = https://github.com/transpect/docx2hub
[submodule "evolve-hub"]
	path = evolve-hub
	url = https://github.com/transpect/evolve-hub
[submodule "xml2tex"]
	path = xml2tex
	url = https://github.com/transpect/xml2tex
[submodule "mml2tex"]
	path = mml2tex
	url = https://github.com/transpect/mml2tex
[submodule "htmlreports"]
	path = htmlreports
	url = https://github.com/transpect/htmlreports
[submodule "calabash"]
	path = calabash
	url = https://github.com/transpect/calabash-frontend
[submodule "schema/hub"]
	path = schema/hub
	url = https://github.com/gimsieke/Hub
[submodule "mml-normalize"]
	path = mml-normalize
	url = https://github.com/transpect/mml-normalize
[submodule "cascade"]
	path = cascade
	url = https://github.com/transpect/cascade
[submodule "fontmaps"]
	path = fontmaps
	url = http://github.com/transpect/fontmaps
