[submodule "xslt-util"]
	path = xslt-util
	url = https://github.com/transpect/xslt-util
[submodule "xproc-util"]
	path = xproc-util
	url = https://github.com/transpect/xproc-util
[submodule "mml2tex"]
	path = mml2tex
	url = https://github.com/transpect/mml2tex
[submodule "docx2hub"]
	path = docx2hub
	url = https://github.com/transpect/docx2hub
[submodule "evolve-hub"]
	path = evolve-hub
	url = https://github.com/transpect/evolve-hub
[submodule "calabash-frontend"]
	path = calabash-frontend
	url = https://github.com/transpect/calabash-frontend
[submodule "xml2tex"]
	path = xml2tex
	url = https://github.com/transpect/xml2tex
[submodule "schema/hub"]
	path = schema/hub
	url = https://github.com/le-tex/Hub.git
